.feedback-table-container {
    background: white;
    padding: 20px;
    margin-top: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px #ddd;
  }
  
  .feedback-table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .feedback-table th,
  .feedback-table td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
  }
  
  .feedback-table input,
  .feedback-table select,
  .feedback-table textarea {
    width: 100%;
    padding: 6px;
    border: 1px solid #aaa;
    border-radius: 4px;
    font-size: 14px;
  }
  
  textarea {
    resize: vertical;
  }
  
  /* .export-btn {
    margin-top: 15px;
    background-color: #001f3f;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 6px;
    cursor: pointer;
  } */
  